.banner {
    background: url("https://cdn.britannica.com/05/157305-004-53D5D212.jpg");
    height: 250px;
  opacity: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }